<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>TASK LIST</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h2>welcome {{user}}</h2>&ndash;&gt;-->
<!--    <form action="" method="post" enctype="multipart/form-data" >-->
<!--            {% csrf_token %}-->
<!--            <label>task_title : {{task.task_title}}</label>-->
<!--            <input type="text" name = "task_title">-->
<!--            <br><br>-->
<!--            <label> task_complete :</label>-->
<!--            <input type="text" name = "task_complete">-->
<!--            <br><br>-->
<!--            <label> task_description :{{task.task_description}}</label>-->
<!--            <input type="text" name="task_description">-->
<!--            <button name="submit" >add task</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->